//using partials and imports to modularize scss file..suppose you have bunch number of colors..its better to maintain in different file
//just need to use import..and use underscore before creatimng new partial file this will make sure these files aren't complied as css
//and while importing those files we don't need underscore(_) 


// don't forget to add semicolon after end of every staments
@import "colors";
@import "mixins";

//used as variable

// $theme-color:red;

$bg-color: orange;


//used as function
//passing argument to make it dynamic..we need to pass default value in argument..in case we forget to pass argument down
// it takes default color
// @mixin blockButton($text-color: black) {
//     border-radius: 10px;
//     color: $text-color;
//     display: inline-block;
//     border:none;
//     padding: 15px 30px;
// }

//creating custom function
@function double($a){
    @return ($a*2);
}


//using inbuilt sass function e.g darken, lighten, saturate, desaturate, adding transparency using rgba inbuilt function
body {
    // background-color: $bg-color;
    // background-color: darken($bg-color, 15%);
    // background-color:lighten($bg-color, 20%);
    // background-color:saturate($bg-color, 15%);
    // background-color: desaturate($bg-color, 20%);
    background-color: rgba($bg-color, .4);
}

h1{
    color: $theme-color;
}

p{
    color: $theme-color;
}

// nesting 
.content{
    ul {
        li {
            a {
                color: red
            }
        }
    }
}

button{
    background-color: purple;
  @include blockButton(red)

}

.newButton{
    background-color: pink;
   
    @include blockButton()
}

//extend helps you to keep your code DRY. this className is directly defined in scss file
.common{
    width:(100% / 2);
    height:100px;
}

//adding basic arithmetic in sass (+, -, %, *)
.container{
    width:100%;
    .leftContainer{
        float: left;
        background-color:red;
        // width:(100% / 2);
        // height:100px;
        @extend .common;
    }
    .rightContainer{
        float: right;
        background-color:yellow;
        // width:(100% / 2);
        // height:double(50px);
        @extend .common;
    }
}